<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>250009185281-udv9lmn2l2oqqqbsv6drnngpcrtlchjl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.250009185281-udv9lmn2l2oqqqbsv6drnngpcrtlchjl</string>
	<key>API_KEY</key>
	<string>AIzaSyAhQt54veB1xL3xGeJVIug7pM0f4kWXtQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>250009185281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.connectify</string>
	<key>PROJECT_ID</key>
	<string>innovative-minds-62e50</string>
	<key>STORAGE_BUCKET</key>
	<string>innovative-minds-62e50.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:250009185281:ios:3a411c848649ab95166400</string>
</dict>
</plist>